@import '../../../styles/variables.css';

.clientList {
  list-style: none;
  padding: 0;
}

.clientItem {
  background-color: var(--color-bg-alt);
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md);
  border-radius: var(--spacing-xs);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clientName {
  font-size: 1.1rem;
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: underline;
}

.clientName:hover {
  color: var(--color-primary-dark);
}

.clientItem button {
  margin-top: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}

/* Estilo para as informações do cliente */
.clientInfo {
  margin: var(--spacing-sm) 0;
  line-height: 1.5;
}
