@import '../../../styles/variables.css';

.searchInput {
  width: 100%;
  max-width: 350px;
  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  border: 3px solid var(--color-border);
  border-radius: var(--spacing-xs);
  font-size: var(--font-size-base);
}

.searchInput:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(0,123,255,0.25);
}
